# aws credentials and info
amazonProperties.accessKey=
amazonProperties.region=
amazonProperties.secretKey=
amazonProperties.bucketName=

#jwt secret for signing tokens
jwt.secret=

#spring config to increase file upload max size
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB

#spring config for enabling actuator endpoints
management.endpoints.web.exposure.include=*

#spring config for oauth2 authentication using  google
spring.security.oauth2.client.registration.google.clientId=
spring.security.oauth2.client.registration.google.clientSecret=
spring.security.oauth2.client.registration.google.scope=
app.oauth2.redirectUri=http://localhost:3000/oauth2/redirect



#spring config for swagger UI application name
spring.application.name= accessibilator

#spring config for email service for passwordless login
spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=
spring.mail.properties.mail.smtp.starttls.enable=
magic.link.redirect.url=