@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

@layer base {
  :root {
    font-size: calc(8.8px + 0.5vw);
  }
  html,
  body {
    font-family: Lexend, Verdana, 'Segoe UI', Tahoma, sans-serif;
  }
  * {
    box-sizing: border-box;
  }

  #react-doc-viewer {
    /* background-color: red; */
    flex: 1;
  }
}

@layer components {
  .btn {
    @apply inline-flex flex-row items-center rounded-lg p-3 text-base font-bold focus:outline-none focus:ring-2 focus:ring-yellow-800 focus:ring-opacity-40  md:text-sm;
  }

  .btn-primary {
    @apply inline-flex rounded-md bg-yellow-950 px-7 py-3 text-sm font-medium  leading-snug text-white shadow-md transition duration-150 ease-in-out  hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yellow-900 active:shadow-lg;
  }

  .btn-link {
    @apply bg-transparent font-medium text-yellow-950;
  }

  .form-control-input {
    @apply flex h-[3rem] w-full rounded-lg border  border-gray-400 p-3 pl-3 text-[1rem] font-normal shadow-sm outline-none transition-shadow duration-200 focus-within:border-none focus-within:outline-none focus-within:ring-2 focus-within:ring-yellow-600 hover:border-yellow-600  focus:outline-none sm:h-11 sm:text-sm;
  }
  .form-control-textarea {
    @apply flex w-full rounded-lg border  border-gray-400 p-3 pl-3 text-[1rem] font-normal shadow-sm outline-none transition-shadow duration-200 focus-within:border-none focus-within:outline-none focus-within:ring-2 focus-within:ring-yellow-600  hover:border-yellow-600  focus:outline-none sm:text-sm;
  }

  .form-control-prepend {
    @apply pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3;
  }

  .form-error {
    @apply absolute -bottom-4 font-medium text-red-600  transition duration-700;
  }

  .capitalize-first::first-letter {
    @apply capitalize;
  }

  .select-group {
    @apply relative mb-6 flex-1 p-1;
  }

  .input-group {
    @apply relative mb-6 flex-1 p-1;
  }
}
