@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

@layer base {
  html,
  body {
    font-family: Lexend, Verdana, 'Segoe UI', Tahoma, sans-serif;
  }
  * {
    box-sizing: border-box;
  }

  #react-doc-viewer {
    /* background-color: red; */
    flex: 1;
  }
}

@layer components {
  .btn {
    @apply inline-flex flex-row items-center rounded-lg p-3 text-base font-bold focus:outline-none focus:ring-2 focus:ring-primary-600 focus:ring-opacity-40  md:text-sm;
  }

  .btn-primary {
    @apply inline-block rounded-md bg-primary-700 px-7 py-3 text-sm font-medium  leading-snug text-white shadow-md transition duration-150 ease-in-out  hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-lg;
  }

  .btn-link {
    @apply bg-transparent text-stone-800;
  }
}
